experiment:
  context:
    name: resnet-test
    multi-p: True

  main_loop:
    warmup: 
      student_nums: 1
      supervisor_trains: 0
    nums: 0
    student_nums: 0

  student:
    dataloader:
      name: cifar10 # default cifar10
      batch_size: 128
      epochs: 150
    model:
      name: resnet50 # default dnn
      classes: 10
    loss:
      name: CategoricalCrossentropy
    metrics: 
      name: CategoricalAccuracy
    optimizer:
      name: sgd # default SGD
      learning_rate: 0.1 # default 0.01
    train_loop:
        valid:
          weight_space:
            format: sum_reduce
          valid_gap: 1000

  supervisor:
    dataloader:
      name: dnn_sumreduce
      replay_window: 1000
      batch_size: 128
      epochs: 100
    model:
      name: dnn # default dnn
      units: [64,32,16,1] # default 128,64,64,32
      activations: [relu,relu,relu,softplus] # default relu
    optimizer:
      name: sgd
      learning_rate: 0.01
    loss:
      name: MeanAbsoluteError #MeanAbsoluteError 
    train_loop:
        valid:
          valid_gap: 100 